<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible">
<title>Custome Login Page</title>

</head>
<body>
<div>
   
</div>

	<h1>Login Form</h1>


	<form action="#" th:action="@{/login}"
		method="POST"  style="max-width: 400px; margin: 0 auto;">
		<div class="form-group">
			Email:<input class="form-controller"
				type="email" name="email"
				placeholder="UserName" required="required"><br><br>
			
			Password:<input class="form-controller" type="password" 
				 name="password" placeholder="password" required="required"><br><br>

		</div>
		
		<p>
		<input type="checkbox" name="remember-me">Remember me
		</p>
		<button type="submit" class="btn btn-success" value="Log Me In">Login</button>
	</form>




	<script th:href="@{/webjars/jquery/3.6.0/jquery.min.js} "></script>
	<script th:href="@{/webjars/bootstrap/3.4.1/bootstrap.min.js} "></script>

</body>
</html>